.falling-object {
  position: absolute;
  top: -50vh;
  width: fit-content;
  height: fit-content;

  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes fall {
  100% {
    transform: translateY(150vh);
  }
}
