@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
}

#app-root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
